SERVICE_GATEWAY_HOST=0.0.0.0:10004

SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3306
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=rootpw
SERVICE_DB_DATABASE=warehouse_service
SERVICE_DB_QUERYSTRING=parseTime=true

SERVICE_BASIC_AUTH_USERNAME=warehouse_service
SERVICE_BASIC_AUTH_PASSWORD=warehouse_service_pw
