SERVICE_GATEWAY_HOST=0.0.0.0:10005

SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3306
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=rootpw
SERVICE_DB_DATABASE=order_service
SERVICE_DB_QUERYSTRING=parseTime=true

PRODUCT_SERVICE_HOST=http://127.0.0.1:10003
PRODUCT_SERVICE_BASIC_AUTH_USERNAME=product_service
PRODUCT_SERVICE_BASIC_AUTH_PASSWORD=product_service_pw

WAREHOUSE_SERVICE_HOST=http://127.0.0.1:10004
WAREHOUSE_SERVICE_BASIC_AUTH_USERNAME=warehouse_service
WAREHOUSE_SERVICE_BASIC_AUTH_PASSWORD=warehouse_service_pw

AUTH_SERVICE_JWT_SECRET=secret

SERVICE_ORDER_EXPIRATION_TIME_SECOND=3600
