SERVICE_GATEWAY_HOST=0.0.0.0:10001

SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3306
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=rootpw
SERVICE_DB_DATABASE=user_service
SERVICE_DB_QUERYSTRING=parseTime=true

SERVICE_JWT_SECRET=secret
SERVICE_JWT_HOUR_EXPIRATION=1
